/* src/styles/Layout.css */

.main-content {
    min-height: 80vh;
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
  }
  /* src/components/Layout.module.css */

  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .mainContent {
    flex: 1;
    max-width: 1200px; /* same as footerContainer */
    margin: 0 auto;
    width: 100%;

  }
  
  
  /* Optional: make footer stick visually */
  .footer {
    background-color: #1976d2; /* match AppBar primary color */
    color: white;
    text-align: center;
    padding: 16px;
  }
  