/* Header.module.css */

.headerWrapper {
  flex-grow: 1;
}

.appBar {
  background-color: #ffffff !important; /* MUI primary color */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(65, 65, 65);
  text-decoration: none;
}

.navCenter {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-grow: 1;
}

.navLink {
  color: rgb(65, 65, 65);
  text-decoration: none;
  font-weight: 500;
}

.navLink:hover {
  text-decoration: underline;
}

.rightSection {
  display: flex;
  align-items: center;
}


.menuButton {
  color: rgb(65, 65, 65);
}

.drawer {
  height: 100vh;
  background-color: #121212;
  color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.drawerClose {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(65, 65, 65) !important;
}

.drawerList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important; /* horizontal centering */
  gap: 2rem; /* optional spacing between items */
}

.drawerItem {
  width: auto; /* shrink to fit content */
  justify-content: center;
  padding: 16px 0;
}


.drawerLink {
  color: rgb(65, 65, 65);
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}

.drawerLink:hover {
  color: #f0a500;
}

/* Drawer Paper overrides */
.drawerPaper {
  width: 100%;
  height: 100vh;
  background-color: #121212;
}

.cartButton {
  color: rgb(65, 65, 65)!important; /* Make MUI icon white */
}
