.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background-color: #000000;
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerLeft h6 {
  margin: 0;
}

.partners {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.partnerLogo {
  object-fit: contain;
  width: 100px;
  height: 50px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.footerRight h6 {
  margin: 0;
}

.socialIcons a {
  margin-left: 0.5rem;
  color: inherit;
}
